@import url(gaia/fonts.css);
@import url(gaia/headers.css);
@import url(gaia/toolbars.css);
@import url(gaia/buttons.css);
@import url(gaia/inputs.css);
@import url(gaia/drawer.css);
@import url(gaia/lists.css);
@import url(gaia/switches.css);
@import url(gaia/responsive.css);
@import url(gaia/status.css);

html, body {
	width: 100%;
	height: 100%;
	
	margin: 0px;
	padding: 0px;
	
	font-size: 10px;
	background-color: white;
	overflow-x: hidden;
	
	font-family: 'MozTTLight', Verdana, sans-serif;
}

a {
	color: #ff4e00;
	font-weight: bold;
}

p {
	padding: 1rem;
}

div, p {
	font-size: 1.5rem;
}

.list-item-large {
	font-size: 1.5rem;
	padding: 1rem;
}

section[role="region"] {
	height: 100%;
	
	font: 2.2rem/1rem;
	overflow: hidden;
}

div[role="main"] {
	background: white no-repeat left top;
	
	height: 100%;
	height: -moz-calc(100% - 5rem);
	height: -webkit-calc(100% - 5rem);
	
	overflow-y: auto;
}
div[role="main"] > p {
	margin: 2rem 2.5rem;
}
div[role="main"] h1 {
	padding: 2rem 2.5rem 0 2.5rem;
	font-size: 2.5rem;
}

h1, h2, h3 {
	margin: 0px;
}

#page-image {
	text-align: center;
}

.indicator {
	padding: 0 1rem 0 1rem;
	
	background-color: #52b6cc;
	color: white;
	border: 1px solid #52b6cc;
	
	border-radius: 16px;
	-moz-border-radius: 16px;
}

/* FIX toolbar button bug on click */
[role="toolbar"] button:active {
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

/* FIX: drawer li */
[role="application"] nav .inner ul li {
	border: 0;
}

/* ADD new icons */
section[role="region"] > header:first-child .icon.icon-delete {
	background-image: url(images/icons/delete.png);
}

[role="toolbar"] .previous {
	background-image: url(images/icons/previous.png);
}
[role="toolbar"] .previous:disabled {
	background-image: url(images/icons/previous-disabled.png);
}
[role="toolbar"] .next {
	background-image: url(images/icons/next.png);
}
[role="toolbar"] .next:disabled {
	background-image: url(images/icons/next-disabled.png);
}

/* ADD new list style */
body[role="application"] .list li[data-state="new"] .aside, body[role="application"] .list li[data-state="new"] a {
	color: #52b6cc !important;
}

body[role="application"] .list li[data-tag="C"]:after {
	background-color: #ff0000;
}
body[role="application"] .list li[data-tag="C"] a {
	color: #ff0000 !important;
}

/* FIX the lists */
body[role="application"] .list li {
	font-size: 1.5rem;
}

body[role="application"] .list li .aside {
  width: 10rem;
  text-align: left;
}

/* Do not display the toolbar buttons on load */
[role=toolbar] button {
	display: none;
}
