/*
  WVGA => QHD
  --
  Supported devices:
    * 480x800
  --
  UA default font size 16px.
  62.5% = 10px (base device)
  62.5% * 1.5 (dppx) = ~94% (93.75%)
*/
/*Portrait*/
@media all and (min-device-width: 480px) and (max-device-width: 540px) and (max-device-aspect-ratio: 1/1) {
  html { font-size: 94%!important; }
}

/*Landscape*/
@media all and (min-device-width: 800px) and (max-device-width: 960px) and (min-device-aspect-ratio: 1/1) {
  html { font-size: 94%!important; }
}

/*
  QHD => HD
  --
  Supported devices:
    * Geeksphone Peak: 540x960
  --
  UA default font size 16px.
  100% = 16px
  62.5% = 10px (base device)
  62.5% * 1.6875 (dppx) = ~105% (105,46875%)
*/
/*Portrait*/
@media all and (min-device-width: 541px) and (max-device-width: 720px) and (max-device-aspect-ratio: 1/1) {
  html { font-size: 105%!important; }
}

/*Landscape*/
@media all and (min-device-width: 961px) and (max-device-width: 1280px) and (min-device-aspect-ratio: 1/1) {
  html { font-size: 105%!important; }
}
