/*
  WVGA => QHD
  --
  Supported devices:
    * 480x800
*/
@media all and (min-device-width: 481px) and (max-device-width: 540px) and (orientation: portrait),
all and (min-device-width: 801px) and (max-device-width: 960px) and (orientation: landscape) {
	html { font-size: 94%!important; }
}

/*
  QHD => HD
  --
  Supported devices:
    * Geeksphone Peak: 540x960
*/
@media all and (min-device-width: 541px) and (max-device-width: 720px) and (orientation: portrait),
all and (min-device-width: 961px) and (max-device-width: 1280px) and (orientation: landscape) {
	html { font-size: 100%!important; }
}

/*
  Responsive design, for Desktop
*/
@media all and (min-width: 961px) {
	body[role="application"] section[role="region"][data-state="drawer"] {
		transform: none;
		-webkit-transform: none;
	}
	
	body[role="application"] > nav {
		width: 20%;
	}
	
	body[role="application"] > section[role="region"] {
		width: 80%;
		margin-left: 20%;
	}
	
	body[role="application"] > section[role="region"] [role="toolbar"] {
		width: 80%;
		margin-left: 20%;
	}
	
	#button-menu {
	    width: 0px;
	}
}

/*
  Responsive design, for Mobile
*/
@media all and (max-width: 960px) {
	body[role="application"] section[role="region"][data-state="drawer"] {
		transform: translateX(80%);
		-webkit-transform: translateX(80%);	/* Chrome and Safari */
	}
	
	body[role="application"] > nav {
		width: 80%;
	}
	
	body[role="application"] > section[role="region"] {
		width: 100%;
		margin-left: 0;
	}
	
	body[role="application"] > section[role="region"] [role="toolbar"] {
		width: 100%;
		margin-left: 0;
	}
}
