<ul class="list">
	<% _.each(articles, function(article) { %>
		<li data-state="<%= article.status %>">
			<a href="#article/<%= article.api %>/<%= article.id %>">
				<em class="aside">
					<% if(article.image) { %>
						<img src="<%= article.image %>" alt=""/>
					<% } %>
				</em>
				<dl>
					<dt><%= article.title %></dt>
					<dd>
						<time><%= article.date %></time>
						
						<% if(article.feed) { %>
							- <%= article.feed %>
						<% } %>
					</dd>
				</dl>
			</a>
		</li>
	<% }); %>
</ul>
