<ul>
	<li data-state="tagged">
		<a href="#">
			<em class="aside end">
				Developpez.com
			</em>
			<dl>
				<dt>Paper Due</dt>
				<dd>
					<time>5:43PM</time>
					<span>Madrid. Steve, Sergi, Victoria, Silvia, E...</span>
				</dd>
			</dl>
		</a>
	</li>
	<li data-state="new">
		<a href="#">
			<em class="aside end">
				PC INpact
			</em>
			<dl>
				<dt>Paper Due</dt>
				<dd>
					<time>5:43PM</time>
					<span>Madrid. Steve, Sergi, Victoria, Silvia, E...</span>
				</dd>
			</dl>
		</a>
	</li>
</ul>
