<ul class="list">
	<li>
		
		<em class="aside end">
			<label>
				<input type="checkbox" id="check-autorefresh"/>
				<span></span>
			</label>
		</em>
		<dl>
			<dt>Auto-refresh</dt>
			<dd>
				<span>Auto-refresh the list of articles in the current feed</span>
			</dd>
		</dl>
	</li>
</ul>

<h1>Password change</h1>
<form>
	<p>
		Old password:
		<input type="password" id="settings-password-old" value=""/>
	</p>
	<p>
		New password:
		<input type="password" id="settings-password-new" value=""/>
	</p>
	<p>
		Confirm new password:
		<input type="password" id="settings-password-confirm" value=""/>
	</p>
	
	<p><button id="settings-password">Change password</button></p>
</form>
